h1 {
font-family: 'Droid Sans', sans-serif;
font-size: 50px;
font-weight: bold;
}

h2 {
font-family: 'Droid Sans', sans-serif;
font-size: 20px;
}

p {
font-family: 'Droid Sans', sans-serif;
font-size: 15px;
}

h1, h2, p {
  color: #ffffff;
}

body {
    background-color: #1a1a1a;
}
